@use "../ground/colors";
@use "../ground/variables" as vars;

/* Simple buttons variants */

button {
  height: 2rem;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  border-radius: vars.$border-slightly-rounded;

  //change to $container
  &.btn-primary {
    background-color: colors.$accent-1;
    color: colors.$on-accent-1;
  }

  &.btn-secondary {
    border: 0.1rem solid colors.$accent-1;
    color: colors.$on-accent-2;
  }

  &.btn-tertiary {
    background-color: colors.$accent-2;
    color: colors.$on-accent-2;
  }

  &.btn-primary:active,
  &.btn-secondary:active,
  &.btn-tertiary:active {
    background-color: colors.$accent-1;
    color: colors.$surface-0;
    border-color: colors.$accent-1;
  }
}

a {
  text-decoration: none;
  font-weight: bold;
  padding: 0.2rem;

  &:active {
    color: colors.$accent-1;
  }

  &:link {
    background-color: colors.$surface-0;
    color: colors.$accent-1;
  }
}

/* Checkbox button */
input.checkbox {
  all: unset;
  border: 2px solid colors.$accent-1;
  border-radius: vars.$border-slightly-rounded;
  height: 1.08rem;
  width: 4.2vw;
  background-color: colors.$surface-0;

  &::before {
    content: "";
    font-weight: vars.$bolder-text;
    position: relative;
  }

  &:checked {
    color: colors.$surface-0;
    background-color: colors.$variant-accent-2;
    border: 2px solid colors.$variant-accent-2;

    &::before {
      content: "x";
      bottom: 20%;
      left: 25%;
    }
  }
}

/* Radio buttons */
input.radio {
  all: unset;
  border: 2px solid colors.$accent-1;
  border-radius: vars.$border-rounded;
  height: 1.08rem;
  width: 4.2vw;
  background-color: colors.$surface-0;

  &::before {
    content: "";
    width: 50%;
    position: relative;
  }

  &:checked {
    color: colors.$surface-0;
    background-color: colors.$variant-accent-2;
    border: 2px solid colors.$variant-accent-2;

    &::before {
      content: "•";
      bottom: 17%;
      left: 23%;
    }

    + label {
      font-weight: 300;
      background-color: colors.$variant-accent-2;
      border: 2px solid colors.$variant-accent-2;
    }
  }
}

/* Toggle switch */
input.switch {
  all: unset;
  width: 1.75rem;
  height: 0.45rem;
  border: 2px solid colors.$accent-1;
  border-radius: vars.$border-slightly-rounded;
  background-color: colors.$accent-1;

  &::before {
    border-radius: vars.$border-rounded;
    content: "";
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    position: relative;
    bottom: 80%;
    background-color: colors.$accent-1;
    transform: translateX(-15%);
    transition: transform 250ms ease-out;
  }

  &:checked {
    color: colors.$surface-0;
    background-color: colors.$variant-accent-2;
    border: 2px solid colors.$variant-accent-2;

    &::before {
      background-color: colors.$variant-accent-2;
      transform: translateX(60%);
    }

    + label {
      font-weight: 300;
      background-color: colors.$variant-accent-2;
      border: 2px solid colors.$variant-accent-2;
    }
  }
}

/* Button group */
fieldset.button-group {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-around;

  &.vertical-group {
    flex-direction: column;
    align-items: flex-start;
  }

  &.radio-group {
    flex-direction: column;
    align-items: flex-start;
  }
}

legend.btn-group-title {
  margin-bottom: 0.25rem;
  font-size: 1.2rem;
  font-weight: vars.$bolder-text;
}

label.btn-group-item {
  display: flex;
  margin-left: 0.5rem;
  gap: 0.5rem;
  flex-direction: row-reverse;
  align-items: center;
}
