@use "../ground/colors";

$bgBorderRadius: 0.4rem;

.outline-accent-1,
.bg-variant,
.bg-accent {
  border-radius: $bgBorderRadius;
  padding: 0.45rem;
}

.bg-accent {
  &-1 {
    @extend .bg-accent;
    background-color: colors.$accent-1;
    color: colors.$on-accent-1;
  } 

  &-2 {
    @extend .bg-accent;
    background-color: colors.$accent-2;
    color: colors.$on-accent-2;
  }
}

.bg-variant {
  &-1 {
    @extend .bg-variant;
    background-color: colors.$variant-accent-1;
    color: colors.$on-accent-1;
  } 

  &-2 {
    @extend .bg-variant;
    background-color: colors.$variant-accent-2;
    color: colors.$on-accent-1;
  }
}

.outline-accent-1 {
  border: solid 0.1rem colors.$accent-1;
}
