@use "../ground/colors";

%bg-basics {
  border-radius: 0.4rem;
  padding: 0.45rem;
}

.bg {
  &-primary {
    @extend %bg-basics;
    background-color: colors.$accent-1;
    color: colors.$on-accent-1;
  } 

  &-secondary {
    @extend %bg-basics;
    border: solid 0.1rem colors.$accent-1;
  }

  &-tertiary {
    @extend %bg-basics;
    background-color: colors.$accent-2;
    color: colors.$on-accent-2;

  }

  &-error {
    @extend %bg-basics;
    background-color: colors.$variant-accent-1;
    color: colors.$on-accent-1;
  } 

  &-success {
    @extend %bg-basics;
    background-color: colors.$variant-accent-2;
    color: colors.$on-accent-1;
  }
}
