@use "../ground/colors";

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, fit-content(max-height));
  justify-items: center;
  grid-template-areas:
    "navbar"
    "main"
    "footer";
  background-color: colors.$surface-0;
}

nav.nav-bar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 1fr;
  grid-area: "navbar";
  gap: 1.5rem;
  align-items: center;
  height: 10vh;
  width: 100vw;
  padding: 2%;
  background-color: colors.$surface-1;
  color: colors.$accent-1;

  .nav-title {
    font-size: 1.62rem;
  }
}

main.main-content,
footer.footer-section {
  grid-area: "main";
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: baseline;
  justify-content: space-evenly;
  padding: 0.85rem;
  color: colors.$accent-1;
  width: 100vw;

  > * {
    width: 100%;
    word-wrap: break-word;
  }

  .half-width {
    width: 50%;
  }

  section.grid-content {
    $column-length: calc(16.66% - 0.55rem);

    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, $column-length);
    column-gap: 0.55rem;
    row-gap: 1rem;
    justify-content: space-evenly;
    align-items: center;

    @for $index from 1 through 6 {
      .cols-#{$index} {
        grid-column: 1 / calc($index + 1);
      }
    }
  }
}

footer.footer-section {
  height: 15vh;
  grid-area: "footer";
  align-items: center;
  justify-content: center;
  padding: 5%;
  background-color: colors.$surface-1;
}
