@use "../ground/colors";
@use "../ground/fonts";
@use "../ground/variables" as vars;
@use "sass:math";

$headerFontSize: 4.5rem;

body {
  font-size: 16px;
  font-family: fonts.$main-font, "Arial", "Helvetica", sans-serif;
  letter-spacing: 0.025rem;
}

@function decreaseFontSize($size) {
  $headerFontSize: math.div($size, 1.1618) !global;
  @return $headerFontSize;
}

@for $index from 1 through 6 {
  .h#{$index} {
    font-size: decreaseFontSize($headerFontSize);
  }
}

main {
  @for $index from 1 through 6 {
    h#{$index} {
      margin-block: 0.3rem;
    }
  }
}

p {
  &.long-text {
    line-height: 1.48rem;
    word-wrap: break-word;
  }

  &.quote-text {
    font-style: italic;
  }
}

blockquote.quote {
  padding: 0.75rem;
  border-left: 0.25rem solid colors.$accent-1;
  border-radius: vars.$border-slightly-rounded;

  span.quote-author {
    font-size: 1.025rem;
    font-weight: vars.$bolder-text;
  }
}

ul,
ol {
  &.simple-list,
  &.box-list {
    margin-left: 0.5rem;
    max-width: 50vw;
    list-style: none;
    display: flex;
    flex-direction: column;

    span.list-title {
      display: inline;
      font-size: 1.61rem;
      font-weight: vars.$bolder-text;
      margin-bottom: 1rem;
    }
  }

  &.simple-list {
    li.list-item {
      display: flex;
      align-items: center;

      &::before {
        content: "-";
        margin-right: 1rem;
      }

      &:active {
        font-weight: vars.$bolder-text;
        background-color: colors.$surface-0;
      }
    }
  }

  &.box-list {
    li.list-item {
      border: 1px solid colors.$accent-1;
      border-bottom: none;
      padding: 0.4rem;

      &:nth-of-type(1) {
        border-radius: repeat(2, vars.$border-slightly-rounded) repeat(2, 0);
      }

      &:last-child {
        border-bottom: 1px solid colors.$accent-1;
        border-radius: repeat(2, 0) repeat(2, vars.$border-slightly-rounded);
      }

      &:active {
        background-color: colors.$surface-0;
        border-color: colors.$accent-1;
        font-weight: vars.$bolder-text;
      }
    }
  }
}

/* Styled classes */
.serifed-text {
  font-family: fonts.$variant-font, serif;
}

.centralized-text {
  text-align: center;
  justify-self: center;
}

.lighter-text {
  font-weight: 200;
}

.bolder-text {
  font-weight: 600;
}

.italic-text {
  font-style: italic;
}

.underlined-text {
  text-decoration: underline;
}
