@use "_colors";
@use "_fonts";
@use "_variables" as vars;
@use "sass:math";

$value: 5.61rem;

body {
  font-size: 16px;
  font-family: fonts.$main-font, 'Arial', 'Helvetica', sans-serif;
  letter-spacing: .025rem;
}

@function decreaseFontSize($fontSize) {
  $value: math.div($fontSize, 1.1618) !global;
  @return $value;
}

@for $index from 1 through 6 {
  .h#{$index} {
    font-size: decreaseFontSize($value);
  }
}

main {
  @for $index from 1 through 6 {
    > h#{$index} {
      margin-top: .5rem;
      margin-bottom: -0.5rem;
    }
  }
}

p {
  text-align: justify;
  text-justify: inter-word;

  &.long-text {
    line-height: 1.48rem;
    word-wrap: break-word;
  }

  &.quote-text { font-style: italic; }
}

blockquote.quote {
  padding: .75rem;
  border-left: .25rem solid colors.$darkpurple-1;
  border-radius: vars.$border-slightly-rounded;

  span.quote-author {
    font-size: 1.025rem;
    font-weight: vars.$bolder-text;
  }
}

ul, ol {
  &.simple-list,
  &.box-list {
    margin-left: .5rem;
    max-width: 50vw;
    list-style: none;
    display: flex;
    flex-direction: column;

    span.list-title {
      display: inline;
      font-size: 1.61rem;
      font-weight: vars.$bolder-text;
      margin-bottom: 1rem;
    }
  }

  &.simple-list {
    li.list-item {
      display: flex;
      align-items: center;

      &::before {
        content: "-";
        margin-right: 1rem;
      }

      &:active {
        font-weight: vars.$bolder-text;
        background-color: colors.$lightblue-2;
      }
    }
  }

  &.box-list {
    li.list-item {
      border: 1px solid colors.$darkpurple-1;
      border-bottom: none;
      padding: .4rem;

      &:nth-of-type(1) {
        border-radius: repeat(2, vars.$border-slightly-rounded) repeat(2, 0);
      }

      &:last-child {
        border-bottom: 1px solid colors.$darkpurple-1;
        border-radius: repeat(2, 0) repeat(2, vars.$border-slightly-rounded);
      }

      &:active {
        background-color: colors.$lightblue-2;
        border-color: colors.$green-1;
        font-weight: vars.$bolder-text;
      }
    }
  }
}

/* Styled classes */
.serifed-text { font-family: fonts.$variant-font, serif; }

.lighter-text { font-weight: 300; }

.bolder-text { font-weight: 700; }

.italic-text { font-style: italic; }

.underlined-text { text-decoration: underline; }
