@use "_colors";

nav.navbar {}

main.main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding: 2%;
  margin: 1vw;
  height: 95%;
  width: 98%;
  color: colors.$darkpurple-2;
  background-color: colors.$lightblue-1;
}

footer.footer {}
