/* Phones and tablets  */
@media (max-width: 991.98px) {
  nav, main, footer {
    width: 95vw;
    height: auto;
  }

  input.text-field,
  textarea.textarea {
    width: 18rem;
  }

  .button {
    width: 25%;
  }

  label.form-input {
    height: auto;
    width: 100%;
  }

  input.checkbox,
  input.radio {
    height: 1.08rem;
    width: 4.2vw;
  }

  input.switch {
    height: 0.4rem;
    width: 6vw;
  }
}

/* Laptops and desktops */
@media (min-width: 992px) and (max-width: 1399.98px) {}
