@use "colors" as c;
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lora&display=swap');

body {
  font-size: 16px;
  font-family: 'Lato', 'Arial', 'Helvetica', sans-serif;
  letter-spacing: .025rem;
}

.h1 { font-size: 4.83rem; }
.h2 { font-size: 4.02rem; }
.h3 { font-size: 3.22rem; }
.h4 { font-size: 2.41rem; }
.h5 { font-size: 1.61rem; }
.h6 { font-size: .8rem; }

main {
  > h1, > h2, > h3,
  > h4, > h5, > h6 {
    margin-top: .5rem;
    margin-bottom: -0.5rem;
  }
}

p {
  text-align: justify;
  text-justify: inter-word;

  &.long-text {
    line-height: 1.48rem;
    word-wrap: break-word;
  }

  &.quote-text { font-style: italic; }
}

blockquote.quote {
  padding: .75rem;
  border-left-style: solid;
  border-left-color: c.$darkpurple-1;
  border-radius: 5px;

  span.quote-author {
    font-size: 1.025rem;
    font-weight: 600;
  }
}

ul, ol {
  &.simple-list,
  &.box-list {
    margin-left: .5rem;
    max-width: 50vw;
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  &.simple-list {
    li.list-item {
      display: flex;
      align-items: center;

      &::before {
        content: "➣";
        font-size: 1rem;
        margin-right: 1rem;
      }
    }
  }

  &.box-list {
    li.list-item {
      border-bottom: 1px solid c.$darkpurple-1;
      border-left: 1px solid c.$darkpurple-1;
      border-right: 1px solid c.$darkpurple-1;
      padding: .4rem;

      &:first-child {
        border-top: 1px solid c.$darkpurple-1;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      &:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
}

/* Styled classes */
.serifed-text { font-family: 'Lora', serif; }

.lighter-text { font-weight: 300; }

.bolder-text { font-weight: 700; }

.italic-text { font-style: italic; }

.underlined-text { text-decoration: underline; }
