@use "utils/medias";
@use "components/typos";
@use "components/layout";
@use "components/buttons";
@use "components/forms";

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
} 
