// Coloscheme based on color Green #296E01

$surface-0: #fff5ee; //body, main
$surface-1: #f9ecdf; //navbar, footer
$surface-2: ""; //cards, sheets
$accent-1: #296e01; //high emphasis
$accent-2: #e7e0d6; //low emphasis
$variant-accent-1: #9b2512; //error messages 
$variant-accent-2: #c16600; //success messages
$on-accent-1: #fff5ee; //against high emphasis
$on-accent-2: #296e01; //agains low emphasis
