/* Phones and tablets  */
@media (max-width: 767.98px) {
  nav,
  main,
  footer { width: 100vw; }

  nav, footer { height: 10dvh; }

  .button {
    width: 25%;
  }
}

/* Laptops and desktops */
@media (min-width: 768px) {
  nav,
  main,
  footer { 
  width: 100vw; }

  nav, footer { height: 7dvh; }
}
