@use "../utils/colors";

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "navbar"
                        "main"
                        "footer";
}

nav.nav-bar, 
main.main-content, 
footer.footer-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding: 2%;
  width: 98%;
}

nav.nav-bar {
  grid-area: 'navbar';
  background-color: colors.$lightblue-2;
}

main.main-content {
  grid-area: 'main';
  margin: 1vw;
  fill: colors.$lightblue-1;
  color: colors.$darkpurple-2;
  background-color: colors.$lightblue-1;
}

footer.footer-section {
  grid-area: 'footer';
  position: fixed;
  bottom: 0;
  background-color: colors.$lightblue-2;
}
