:root {
  --lightblue-100: #B9FAF8;
  --indigo-400: #3C096C;
  --indigo-800: #180042;
}

main.main {
  color: var(--indigo-800);
}

textarea.textarea:focus,
input.text-input:focus {
  outline-color: var(--indigo-400);
}

button.btn-primary {
  background-color: var(--indigo-400);
  color: var(--lightblue-100);
  border-color: transparent;
}

button.btn-secondary {
  color: var(--indigo-400);
  background-color: var(--lightblue-100);
  border-color: var(--indigo-400);
}

label.label input.checkbox,
label.label input.radio {
  border-color: var(--indigo-400);
  background-color: var(--lightblue-100);
}

label.label input.checkbox:checked {
  color: var(--lightblue-100);
  background-color: var(--indigo-400);
  border-width: 2px;
}
