:root {
  --primary: #B9FAF8;
  --primary-2: #62F4EF;
  --secondary: #3C096C;
  --secondary-2: #180042;
  --accent: #6A994E;
}

main.main {
  color: var(--secondary-2);
  background-color: var(--primary);
}

textarea.textarea,
input.text-field {
  border-color: var(--secondary);
  background-color: var(--primary-2);
}

input.text-field {
  border-bottom-color: var(--secondary);
}

textarea.textarea:focus {
  outline-color: var(--accent);
}

input.text-field:focus {
  outline: none;
  border-bottom-color: var(--accent);
}

button.button:active {
  background-color: var(--accent);
  color: var(--primary);
  border-color: var(--accent);
}

button.btn-primary {
  background-color: var(--secondary);
  color: var(--primary);
  border-color: transparent;
}

button.btn-secondary {
  color: var(--secondary);
  background-color: var(--primary);
  border-color: var(--secondary);
}

input.checkbox,
input.radio {
  border-color: var(--secondary);
  background-color: var(--primary);
}

label.form-input input.switch {
  border-color: var(--secondary);
  background-color: var(--secondary);
}

input.switch::before {
  background-color: var(--primary);
}
  input.checkbox:checked,
input.radio:checked,
label.form-input input.switch:checked {
  color: var(--primary);
  background-color: var(--accent);
  border: 2px solid var(--accent);
}

input.radio::before:checked {
  color: var(--primary);
  background: var(--primary);
}
