form.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

label.form-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.5rem;
}

span.text-label {
  font-size: 0.9rem;
}

/* Text inputs  */

input.text-field {
  height: 1.3rem;
  border: none;
  border-bottom-style: solid;
}

textarea.textarea {
  resize: none;
  height: 4rem;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
}

input.text-field,
textarea.textarea {
  border-width: 2px;
  padding: 0.25rem;
}

/* Buttons general  styling*/
button.button {
  height: 1.75rem;
  padding: 0.1rem;
  text-align: center;
  border-radius: 4px;
}


button.btn-primary,
button.btn-secondary {
  border-width: 1px;
  border-style: solid;
}

input.checkbox {
  all: unset;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  height: 1.08rem;
  width: 4.2vw;
}

input.checkbox::before {
  content: '';
  font-weight: bold;
  position: relative;
}

input.checkbox:checked::before {
  content: 'x';
  bottom: 20%;
  left: 25%;
}

input.radio {
  all: unset;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  height: 1.08rem;
  width: 4.2vw;
}

input.radio::before {
  content: '';
  width: 50%;
  position: relative;
}

input.radio:checked::before {
  content: '•';
  bottom: 17%;
  left: 23%;
}

input.switch {
  all: unset;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
}

input.switch::before {
  border-radius: 10px;
  content: '';
  display: inline-block;
  width: 70%;
  height: 1rem;
  position: relative;
  right: 40%;
  bottom: 80%;
}

input.switch:checked::before {
  left: 60%;
}
