form.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

label.form-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.5rem;
}

span.text-label {
  font-size: 0.9rem;
}

/* Text inputs  */

input.text-field {
  height: 1.3rem;
  border: none;
  border-bottom-style: solid;
}

textarea.textarea {
  resize: none;
  height: 4rem;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
}

input.text-field,
textarea.textarea {
  border-width: 2px;
  padding: 0.25rem;
}
