@import url('https://fonts.googleapis.com/css2?family=Lato&family=Loradisplay=swap');

body {
  font-size: 16px;
  font-family: 'Lato', 'Arial', 'Helvetica', sans-serif;
  letter-spacing: 0.025rem;
}

.h1 { font-size: 4.83rem; }
.h2 { font-size: 4.02rem; }
.h3 { font-size: 3.22rem; }
.h4 { font-size: 2.41rem; }
.h5 { font-size: 1.61rem; }
.h6 { font-size: 0.80rem; }

p.long-text {
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.48rem;
  word-wrap: break-word;
}

/* Style text classes */
.serifed-text {
  font-family: 'Lora', serif;
}

.lighter-text { font-weight: 300; }

.bolder-text { font-weight: 700; }

.italic-text { font-style: italic; }

.underlined-text { text-decoration: underline; }
